* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
body{
    background-color:burlywood;
    display:flex; 
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 300px;
}
.main{
  
  width:800px;
  height:200px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    
}
 #s1{
    width:700px;
    height:40px;
    border:2px solid white;
    border-radius: 45px;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(0, 0, 0, 0.1);
    color: black;
    font-size: 16px;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.row{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding:10px 34px;
  margin:7px;
 
}
.icon-button{
  padding: 5px;
  font-size: 30px;
  border: none;
  outline: none;
  margin-right:-25.2em;
  margin-top: -45px;
  border-radius: 30%;
  
}

 
 input:focus {
    outline: none;
}

@media only screen and (max-width: 600px) {
  #s1{
    width:700px;
  }
}
@media (min-width: 100px) and (max-width: 700px) {
  #s1{
    width:200px;
   
  }
}
